*.fodg
__user_pythonic__.pyh
*.gen.cpp
*_gen.py
*.gcda
*.gen.h
*.wasm
*.arm
*.dll

vm.json
CMakeLists.txt
Makefile
tpython++
tpython++.html
tpython++.js
tpythonos_build

*.bytecode
*.pyc
*.o
*.a
*.so
*.exe

.DS_Store
__MACOSX

.sconf_temp
.sconsign.dblite
